<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>PersonQuestion</title>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet">
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script
	src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
<script src="https://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
 <script src="//cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

<style type="text/css">
    div.selectCourseId input {
    font-size: 1em;
    font-family: 仿宋, serif;
    width: 15%;
    display: block;
    margin-left: 2%;
    opacity: 0.8;
    padding: 0.2em;
    color: #000000;
    border-radius: 10px;
    background-color: #bed8df;
   }
</style>
</head>
<body>
   <div id="table-div">
		<table class="table">
			<caption>QuestionList</caption>
			<thead>
				<tr>
					<th>问题序号</th>
					<th>课程号</th>
					<th>发布者</th>
				    <th>内容</th>
					<th>发布时间</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody id="myTbody">

			</tbody>
		</table>
	</div>
	
	<a href="#" onclick="ShowTxt()">发布新问题</a>
			    <div>
			      <div id="selectCourseId" class="selectCourseId" style="display: none">
                     <a>课程:</a>
                     <input id="courseId" type="text" list="courseIdList">
                     <datalist id="courseIdList">
                     
                      </datalist>
                  </div>
                  <textarea id="questionContent" name="questionContent" style="display:none" cols="70" rows="8"></textarea>
                  <span id="wordCount" style="display:none"><span id="textNum">0</span>/250字</span>
                  <!-- 最多250字符，0处显示的是已经写了多少字符  -->
                  <input type="button" id="submit" style="display:none;left:45%" value="确定" onClick="sendQuestion()" /><input type="button" id="cancel" style="display:none;left:48%" value="取消" onClick="HiddenTxt()" />
                </div>
	
	<!-- 分页按钮 -->
	<div id="setPage">
	    <a href="#" onclick="up()" id="prePage">上一页</a>|共<nobr id="size"></nobr>条记录|<a href="#" onclick="down()" id="nextPage">下一页</a>|当前第<nobr id="nowPage"></nobr>页|总共<nobr id="total"></nobr>页 	    
	</div>
	
<script type="text/javascript">
    var page = 1;       //默认设置为第一页
    var totalPage = 0;
    var size = 0;
    var userId = $.cookie('userId');   //获取cookie中的userId值
	jQuery(document).ready(
			function() { //页面加载完成
				getInformation(page-1);
			/**********************************************
			 *1.查全部提问的问题的ajax
			 **********************************************
			 */	
             //向接口 http://localhost:8001/scholat/question/questions/allQuestion 发送ajax获取全部问题信息
				
			}
		)
		
		/**************************************************
		*向接口 http://localhost:8001/scholat/question/questions/allQuestion 发送ajax获取全部问题信息
		***************************************************
		*/
		function getInformation(page){
		$.ajax({
			type : "GET",
			url : "http://localhost:8001/scholat/question/questions/questionListByUser/"+userId+"/"+page,
			success : function(result) {//如果ajax请求发送成功调用的回调函数
				if (result.success) {//判断后台是否正常返回
					totalPage = result.data.pageCount;      //获取总页数
				//	$('total').append('总共'+totalPage+'页');    
					document.getElementById("total").innerHTML = totalPage;  //在分页栏那里输出
					size = result.data.size;                //获取记录总数
				//	$('size').append('共'+size+'条记录');    
				    document.getElementById("size").innerHTML = size;  //在分页栏输出总共多少条记录
				    document.getElementById("nowPage").innerHTML = page + 1;    //设置当前页
				    var questionList = result.data.questionList;
					for (var i = 0 ; i < questionList.length; i++) {
						$('#myTbody').append(//for循环动态拼接到id为‘ myTbody’的表单里
								'<tr><td>' + questionList[i].questionId
										+ '</td><td>'
										+ questionList[i].courseId 												
										+ '</td><td>'
										+ questionList[i].userId 
										+ '</td><td>'
										+ questionList[i].questionContent
										+ '</td><td>'
										+ questionList[i].createTime 
										+ '</td><td>'
										+ '<a href="#" onclick = "urlLocaltion('+questionList[i].questionId+')">查看</a><nobr>  </nobr>'
										+ '<a href="#" onclick = "deleteById('+questionList[i].questionId+')">删除</a>'
										+ '</td></tr>');
					}
				} else {//否则是后台没正确返回数据
					alert("后台失败");
				}
			}
		});
		}
	
	/**********************************************
	*2.上一页控制
	***********************************************
	*/
	function up(){	
       page = parseInt(document.getElementById("nowPage").innerHTML); 
		if(page == 1){
			alert("已经是第一页了");
		}else{
			page = page -1;
			document.getElementById("nowPage").innerHTML = page;			
			//刷新本页面
		}
		$('#myTbody').html('');
		getInformation(page-1);
	}
	
	/**********************************************
	*3.控制下一页
	***********************************************
	*/
	function down(){
		totalPage = parseInt(document.getElementById("total").innerHTML);   //获取总页数
		page = parseInt(document.getElementById("nowPage").innerHTML);
		if(page == totalPage){
			alert("已经是最后一页了");
		}else{
			page = page + 1;
			//刷新本页面
			document.getElementById("nowPage").innerHTML = page;			
		}
		$('#myTbody').html('');
		getInformation(page-1);
	}
		
		/***************************************************
	 *2.页面跳转并传questionId
	 ***************************************************
	 */
      function urlLocaltion(questionId){		
    	  window.location.href='templates/questionDetail.html?questionId='+questionId;
	}
	
	/************************************************
     *3.删除回复
     *************************************************
     */
     function deleteById(id){
    	 var flag = "您真的确定要删除吗？\n\n请确认!";
    	 if (confirm(flag)!=true){
    	 return false;
    	 }else{
    		 
    			$.ajax({
    				   type : "DELETE",
    				   url : "http://localhost:8001/scholat/question/questions/deleteQuestion/"+id,
    				   data:{
    					   "questionId" : id,
    				   },
    			       success : function(result){//ajax发送成功
    			    	   if(result.success){//如果成功
    			    		   //刷新本页面
    			    		   location.reload();
    			    	   }else{
    			    		   alert(result.msg);
    			    	   }					    	   
    			       },
    			       //ajax发送失败
    			       error : function(result){
    			    	    alert("删除ajax发送失败:"+result.responseText);
    			       }
    			   });
    			
    	 return true;
    	 }   
     }
	
     /************************************************
		*3.点击"发布新问题"出现回复框事件(包括字数统计、确定和取消按钮)
		*************************************************
		*/
		function ShowTxt()
		{
		 document.getElementById("selectCourseId").style.display="block";
		 document.getElementById("questionContent").style.display="block";
		 document.getElementById("wordCount").style.display="inline";
		 document.getElementById("submit").style.display="inline";
		 document.getElementById("cancel").style.display="inline";
		 getCourse();       //获取下拉框的课程号
		}
			
			
			
		/************************************************
		*4.统计字数
		*************************************************
		*/
     $('#questionContent').on("keyup",function(){
     $('#textNum').text($('#questionContent').val().length);//这句是在键盘按下时，实时的显示字数
     if($('#questionContent').val().length > 250){
         $('#textNum').text(250);//长度大于100时0处显示的也只是100    
         $('#questionContent').val($('#questionContent').val().substring(0,250));//长度大于100时截取钱100个字符
         }        
     })
     $('#textNum').text($('#questionContent').val().length);//这句是在刷新的时候仍然显示字数
     
     
     /*************************************************
     *5.取消回复隐藏回复框(包括字数统计、确定和取消按钮)
     **************************************************
     */
     function HiddenTxt()
     {
    	 document.getElementById("selectCourseId").style.display="none";
         document.getElementById("questionContent").style.display="none";
         document.getElementById("wordCount").style.display="none";
		 document.getElementById("submit").style.display="none";
		 document.getElementById("cancel").style.display="none";
     }
     
     /****************************************************
     *6.确认发布新问题
     ******************************************************
     */
     function sendQuestion(){
    	 var flag = false;
    	 var courseId = document.getElementById("courseId").value;
    	 var questionContent = document.getElementById("questionContent").value;
    	 function question(){
    		 this.courseId = courseId;
    		 this.userId = 2;
    		 this.questionContent = questionContent;
    		 this.createDate="";
    	 }
    	var question = new question();
     	if(question.courseId != "" && question.userId != "" && question.questionContent !=""){
     		flag = true;
     	}else{
     		flag = false;
     		alert("你还有些信息没填!");
     	}
     	if(flag == true){
     		$.ajax({
				url:"http://localhost:8001/scholat/question/questions/addQuestion",
    			type:"PUT",
    			data:JSON.stringify(question),
    			dataType:"json",
    			async:false,
    			cache:false,
    			contentType: "application/json",
    			success : function(result) {
    			     if (result.success) {
    				     //刷新本页面
    				     alert("发布成功!");
		    		     location.reload();
    			     }else{
    				     alert("后台错误!")
    			     }
    			}
    	    }); 
     	}
     }
     
     /***********************************************************
     *7.发送ajax获取个人所教课程
     ************************************************************
     */
     
     function getCourse(){
    	 $.ajax({
 			type : "GET",
 			url : "http://localhost:8001/scholat/course/user/"+userId+"/all",
 			success : function(result) {//如果ajax请求发送成功调用的回调函数
 				if (result.success) {//判断后台是否正常返回
 				    var course = result.data;
 					for (var i = 0 ; i < questionList.length; i++) {
 						$('#courseIdList').append(//for循环动态拼接到id为‘ myTbody’的表单里
 								'<option>' + course[i].courseId
 										+ '</<option>');
 					}
 				} else {//否则是后台没正确返回数据
 					alert("后台失败");
 				}
 			}
 		});
     }
     
</script>
</body>
</html>