<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="vue.js" type="text/javascript" charset="utf-8"></script>
		<link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet">
		<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.0.1/js/bootstrap.min.js"></script>

		<script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
		<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
	</head>
	<body>
		<div id="app">
			<img alt="课程图片" ref="avatar" src="" class="img-rounded" /><br />
			<input type="file" id="exampleInputFile" @change="showImg" ref="file" accept="image/gif, image/jpeg, image/png" />

			<br />
			<label>课程名字：</label><input type="text" v-model="courseName" /><br/>
			<label>课程描述：</label><textarea v-model="courseDesc"></textarea><br/>
			<!-- <input type="text" v-model="courseDesc" /><br /> -->

			<!-- 遮照窗体   -->
			<a id="modal-610527" href="#modal-container-610527" role="button" class="btn" data-toggle="modal">
				<button>创建</button>
			</a>

			<div class="modal fade" id="modal-container-610527" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title" id="myModalLabel">
								提示
							</h4>
						</div>
						<div class="modal-body">
							是否要创建课程？
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
							<button type="button" class="btn btn-primary" @click="click1">确定</button>
						</div>
					</div>

				</div>

			</div>





			{{msg}}

			<!-- <img id="result" src=""/> -->

		</div>
		<script type="text/javascript">
			var vm = new Vue({
				el: "#app",
				data: {
					msg: "",
					courseName: null,
					courseDesc: null,
					avatar: null

				},
				methods: {
					click1: function() {
						var formdata = new FormData();
						formdata.append('courseName', this.courseName);
						formdata.append('courseDesc', this.courseDesc);
						formdata.append('fileName', this.avatar);
						formdata.append('userId', 1);
						axios
							.post('http://localhost:9002/insert', formdata)
							.then(response => {
								if(response.data.success){
									document.getElementById("modal-container-610527").style.display="none";
									alert("添加课程成功");
									window.location.href="index.html";  
								}else{
								 this.msg = response.data.msg;
								}
							})
							.catch(function(error) { // 请求失败处理
								console.log(error);
							});
						
                           
					},
					click2: function() {
						console.log('click2......');
					},

					showImg: function(event) {
						console.log("1111");
						var imgFile = event.target.files[0]
						var fr = new FileReader()
						var that = this
						fr.onload = function() {
							that.$refs.avatar.src = fr.result
						}
						fr.readAsDataURL(imgFile)
						this.avatar = imgFile
					},

				}
			});
		</script>
	</body>
</html>
