<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scholat.proviser.course.mapper.CourseMapper">

	<resultMap id="courseResultMap" type="CourseDto">
		<id property="courseId" column="course_id" />
		<result property="courseName" column="courseName"/>
		<result property="courseImage" column="course_image"/>
		<result property="userName" column="user_name"/>
		<result property="courseDesc" column="course_desc"/>
	</resultMap>


	<select id="findById" resultType="CourseDto">
		select c.course_id,c.course_name,c.course_image,c.course_desc,u.user_name
		from course c, user_detail u
		where c.user_id = u.user_id
		and course_id = #{courseId}
	</select>

	<select id="findAll" resultType="Course">
		select * from course
	</select>

	<insert id="insert">
		insert into course(course_name,user_id,course_desc,course_image)
		value(#{courseName},#{userId},#{courseDesc},#{courseImage})
	</insert>

	<delete id="deleteById">
		delete from course where course_id = #{courseId}
	</delete>

	<update id="updateSelection" parameterType="Course">
		update course
		<set>
			<if test="courseImage != null">course_image=#{courseImage},</if>
			<if test="courseName != null">course_name=#{courseName},</if>
			<if test="courseDesc != null">course_desc=#{courseDesc}</if>
		</set>
		where course_id=#{courseId}
	</update>

	
	<sql id="courseClumn">
		${c}.course_id,${c}.course_name,${c}.course_image,${c}.course_desc,${u}.user_name
	</sql>
	
	<select id="findByName" resultType="CourseDto">
		select c.course_id,c.course_name,c.course_image,c.course_desc,u.user_name
		from course c, user_detail u
		where c.user_id = u.user_id
		and course_name like  concat('%',#{courseName},'%')
	</select>

	<select id="findByuserId" resultType="CourseDto">
		select c.course_id,c.course_name,c.course_image,c.course_desc,u.user_name
		from course c ,user_detail u
		where c.user_id = u.user_id and c.user_id = #{userId}
	</select>

</mapper>
 