<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>
<form name="form" accept-charset="utf-8"  action="/doRegist">
    <ul >
        <li>
            <label  class="input-tips2">手机：</label>
            <div class="inputOuter2">
                <input type="text" id="phone" name="phone" maxlength="16" />
            </div>
        </li>
        <li>
            <label class="input-tips2">密码：</label>
            <div >
                <input type="password" id="password"  name="password" maxlength="16"/>
            </div>
        </li>
        <li>
            <div >
                <input type="submit" value="确定"/>

            </div>
        </li>
    </ul>
</form>
</body>
</html>